* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 92, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
}
.App {
  text-align: center;
  font-family: Poppins, Inter, sans-serif;
}

.container {
  height: 500px;
  width: 400px;
  background-color: #2f2f2f;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.title {
  font-size: 20px;
  margin-top: 90px;
  font-weight: 600;
}
.form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin-top: 40px;
  
}
.form--username {
  border-radius: 25px;
  border: none;

  height: 50px;
  width: 300px;
  text-indent: 10px;
}
.form--password {
  border-radius: 25px;
  border: none;
  margin-top: 25px;
  height: 50px;
  width: 300px;
  text-indent: 10px;
}
.login--button {
  margin-top: 25px;
  height: 40px;
  width: 90px;
  background-color: greenyellow;
  border: none;
  border-radius: 25px;
}
.check {
  height: 23px;
}
.form--check {
  margin-right: auto;
  margin-left: 55px;
  margin-top: 35px;
}
.form--check > label {
  margin-left: 7px;
}
